




<launch>
<!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen"> </node> -->


 <!--- Run AMCL --> 
    <!-- <include file="$(find amcl)/examples/amcl_diff.launch" /> -->

<!-- The navigation stack does not require a map to operate, b -->
<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find bot_pkg)/configs/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find bot_pkg)/configs/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find bot_pkg)/configs/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find bot_pkg)/configs/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find bot_pkg)/configs/base_local_planner_params.yaml" command="load" />
 </node>

</launch>